.flex-column {
  display: flex;
}

.no-style {
  list-style: none;
  font-style: none;
  text-decoration: none;
}

.logo {
  font-size: larger;
  font-family: "poppins";
  letter-spacing: 3px;
}

.space-btw {
  justify-content: space-between;
}

.jcenter {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.jend {
  justify-content: end;
}

.grow-1 {
  flex-grow: 1;
}

.grow-2 {
  flex-grow: 2;
}

.navbar {
  background-color: rgb(3, 9, 3);
  padding: 20px 20px;
  font-size: 24px;
  color: whitesmoke;
  box-sizing: border-box;
}

.links {
  gap: 40px;
}

.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}
.search-div {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 30px;
}

.input-search {
  padding: 10px;
  padding-left: 50px; /* Space for the icon */
  border-radius: inherit;
}

.input-search:focus {
  outline: none; /* Remove the default focus outline */
}

.search-btn {
  position: absolute;
  left: 10px; /* Adjust based on how close you want the icon to the input edge */
  pointer-events: none; /* So clicking the icon doesn't interfere with input focus */
}

.search-div.active .input-search {
  border: 2px solid #ccc; /* Change color when focused */
}

.search-div.active .search-btn {
  color: #ccc; /* Change icon color when focused */
}
