.flex-column {
  display: flex;
}

/* SEARCH BAR -------------------- */

.search-div {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 30px;
  width: 250px;
}

.input-search {
  padding: 10px;
  padding-left: 50px; /* Space for the icon */
  border-radius: inherit;
  width: inherit;
}

.input-search:focus {
  outline: none; /* Remove the default focus outline */
}

.search-btn {
  position: absolute;
  left: 10px; /* Adjust based on how close you want the icon to the input edge */
  pointer-events: none; /* So clicking the icon doesn't interfere with input focus */
}

.search-div.active .input-search {
  border: 2px solid #bdf5bd; /* Change color when focused */
}

.search-div.active .search-btn {
  color: #bdf5bd; /* Change icon color when focused */
}

/* NAV BAR -------------------- */

.links {
  list-style: none;
  font-style: none;
  text-decoration: none;
  color: white;
}

.links:hover {
  color: #bdf5bd;
}

.logo {
  font-size: 28px;
  letter-spacing: 5px;
  color: #bdf5bd;
}

.navbar {
  background: transparent;
  padding: 20px 20px;
  box-sizing: border-box;
  transition: all 5ms ease;
}

.nav-links {
  gap: 1.8em;
  font-size: 18px;
  color: inherit;
  letter-spacing: 2px;
}
.space-btw {
  justify-content: space-between;
}

.jcenter {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.jend {
  justify-content: end;
}

.grow-1 {
  flex-grow: 1;
}

.grow-2 {
  flex-grow: 2;
}

.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}
